.MuiPaginationItem-page.Mui-selected {
  background-color: blue !important;
  border-radius: 1px !important;
  color: white !important;
}

.MuiPaginationItem-rounded {
  border-radius: 1px !important;
}

.MuiAutocomplete-hasPopupIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"],
.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  border-radius: 50px !important;
  height: 39px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  padding-top: 2px !important;
  font-size: 12px !important;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
